.landing {
  position: relative;
  /* background: url('./assets/landing.jpg') no-repeat center center/cover; */
  background-image: url('./assets/landing.jpg');
  background-repeat: no-repeat;
  background-attachment: center;
  bg
  height: 100vh;
}