.landing {
  position: relative;
  /* background: url('./assets/landing.jpg') no-repeat center center/cover; */
  background-image: url('./assets/landing.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  height: 100vh;
}
.dark-overlay {
  background-color: black;
}